@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root[data-theme="light"] {
    --heading-color-1: var(--light-heading-color-1);
    --bg-color-1: var(--light-bg-color-1);
    --bg-color-2: var(--light-bg-color-2);
    --bg-color-3: var(--light-bg-color-3);
    --accent: var(--light-accent);
    --text-color-1: var(--light-text-color-1);
    --text-color-2: var(--light-text-color-2);
  }

  :root[data-theme="dark"] {
    --heading-color-1: var(--dark-heading-color-1);
    --bg-color-1: var(--dark-bg-color-1);
    --bg-color-2: var(--dark-bg-color-2);
    --bg-color-3: var(--dark-bg-color-3);
    --accent: var(--dark-accent);
    --text-color-1: var(--dark-text-color-1);
    --text-color-2: var(--dark-text-color-2);
  }
} */