:root {
  // colors
  // --accent-1: #455DF6;
  // --accent-2: #3E8BFF;
  // --dark-1: #000;
  // --dark-2: #212121;
  // --gray-1: #767676;
  // --gray-2: #9198A5;
  // --gray-3: #999999;
  // --light: #fff;
  // --green: #3BCA0B;
  // --red: #FB1F1E;

  // dark theme colors
  // --dark-theme-color-1: #282A37;
  // --dark-theme-color-2: #3D404A;
  // --dark-theme-color-3: #323645;
  // --dark-theme-color-4: #353840;
  // --dark-theme-color-5: #1E1F29;

  // colors
  --dark-bg-color-1: #161A22; //#1F1D2C;
  --dark-bg-color-2: #2B2B35;
  --dark-bg-color-3: #363740;
  --dark-heading-color-1: white;
  --dark-text-color-1: #E0E0E0;
  --dark-text-color-2: #BBBBBB;
  --dark-accent: #3E8BFF;

  --light-bg-color-1: white;
  --light-bg-color-2: white;
  --light-bg-color-3: #F3F2F7;
  --light-heading-color-1: #212121;
  --light-text-color-1:#212121;
  --light-text-color-2: #5c5c5c; 
  --light-accent: #455DF6;

  --red: #F94A49;

  --findcreek: 'Findcreek Regular', sans-serif;
  --findcreek-medium: 'Findcreek Medium', sans-serif;
  --findcreek-bold: 'Findcreek Bold', sans-serif;
  --findcreek-light: 'Findcreek Light', sans-serif;
  --montserrat-bold: 'Montserrat Bold', sans-serif;
  --noto-sans-medium: 'Noto Sans Medium', sans-serif;
  --noto-sans: 'Noto Sans', sans-serif;
  --noto-sans-bold: 'Noto Sans Bold', sans-serif;

  // transitons
  --fast: all .15s ease-out;
  --slow: all .6s ease-out;

  // shadows
  --popup-shadow: 0 9px 40px 0 rgba(0 0 0 / .25);
  // --hover-element-shadow-1: box-shadow: 0 2px 6px 0 rgba(0 0 0 / .25);
  // --hover-element-shadow-2: box-shadow: 0 2px 12px 0 rgba(0 0 0 / .5);

  // borders
  --border-2: 1px solid rgb(118 118 118 / .2);
}

:root[data-theme="light"] {
  // --heading-color-1: var(--dark-1);
  // --heading-color-2: var(--dark-2);
  --heading-color-1: var(--light-heading-color-1);
  // --bg-color-1: var(--light);
  // --bg-color-2: var(--light);
  // --bg-color-3: #f6f6f6;
  --bg-color-1: var(--light-bg-color-1);
  --bg-color-2: var(--light-bg-color-2);
  --bg-color-3: var(--light-bg-color-3);
  // --accent: var(--accent-1);
  --accent: var(--light-accent);
  // --text-color-1: #5c5c5c;
  // --text-color-2: var(--gray-1);
  // --text-color-3: var(--gray-1);
  --text-color-1: var(--light-text-color-1);
  --text-color-2: var(--light-text-color-2);
  --border-1: 1px solid rgb(118 118 118 / .3);
  --border-2: 1px solid rgb(118 118 118 / .2);
  --hover-element-shadow: 0 2px 6px 0 rgba(0 0 0 / .1);
  --hover-block-shadow: 0 2px 6px 0 rgba(0 0 0 / .15);

  color-scheme: light;
}

:root[data-theme="dark"] {
  // --heading-color-1: var(--light);
  // --heading-color-2: var(--light);
  --heading-color-1: var(--dark-heading-color-1);
  // --bg-color-1: #2B2B35;
  // --bg-color-2: #363740;
  // --bg-color-3: #363740;
  --bg-color-1: var(--dark-bg-color-1);
  --bg-color-2: var(--dark-bg-color-2);
  --bg-color-3: var(--dark-bg-color-3);
  // --accent: var(--accent-2);
  --accent: var(--dark-accent);
  // --text-color-1: #E0E0E0;
  // --text-color-2: #BBBBBB;
  // --text-color-3: #BBBBBB;
  --text-color-1: var(--dark-text-color-1);
  --text-color-2: var(--dark-text-color-2);
  --border-1: 1px solid rgb(118 118 118 / .4);
  --border-2: 1px solid rgb(118 118 118 / .3);
  --hover-element-shadow: 0 2px 12px 0 rgba(0 0 0 / .5);
  --hover-block-shadow: 0 2px 14px 0 rgba(0 0 0 / .8);

  color-scheme: dark;
}

// duplicate for sass functions
$accent-1: #455DF6;
$accent-2: #3E8BFF;
$dark-1: #000;
$dark-2: #212121;
$gray-1: #767676;
$gray-2: #9198A5;
$gray-3: #999999;
$light: #fff;
$text-color: $light;

$dark-theme-color-1: #282A37;
$dark-theme-color-2: #3D404A;
$dark-theme-color-3: #323645;
$dark-theme-color-4: #353840;
$dark-theme-color-5: #1E1F29;

//$ff-ubuntu: 'Ubuntu', sans-serif;
$noto-sans: 'Noto Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$findcreek: 'Findcreek Regular', sans-serif;
$findcreek-medium: 'Findcreek Medium', sans-serif;
$findcreek-bold: 'Findcreek Bold', sans-serif;
$findcreek-light: 'Findcreek Light', sans-serif;
$bold: 700;
$medium: 500;

$fast: all .15s ease-out;
$slow: all .6s ease-out;

// theme-dependant colors are gray, cuz they are dynamic
$heading-color-1: $gray-1;
$heading-color-2: $gray-1;
$bg-color-1: $gray-1;
$bg-color-2: $gray-1;
$bg-color-3: $gray-1;
$accent: $accent-1;
$text-color-1: $gray-1; 
$text-color-2: $gray-1;
$border-1: 1px solid rgb(118 118 118 / .4);

button {
  padding: 0;
  background: transparent;
  border: none;
  @include flex(center, center);
  cursor: pointer;
}

.animate__animated {
  --animate-duration: 1s;
}
