// breakpoints:
$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 480px;

// mixins:

@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin flex($jc: flex-start, $ai: center, $direction: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $direction;
}

@mixin container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

@mixin scrollbar {
  overflow-y: scroll;
  overscroll-behavior-y: contain;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100vmax;
    background-color: #bbb;
  }
}
